body{
    background-image: linear-gradient(to bottom, #2D6EED, #2FA8F7, #37CBE1, #2FF7DB, #2DED9C);
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#principal{
    width: 80%;
    margin: 5rem auto;
}

header img{
    display: block;
    margin: auto;
    border-radius: 50%;
}

header p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

nav{
    display: flex;
}

.logo{
    margin: auto;
}

nav img{
    display: inline-flex;
    width: 3rem;
}

.links{
    margin: 2rem auto;
    width: 60%;
}

.links a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 3rem;
}

.links a:hover{
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

main{
    margin: auto;
    width: 70%;
}

main h1{
    font-size: 2.4rem;
    font-variant: small-caps;
    text-align: center;
}

.projects-1{
    display: flex;
}

.projects-1 a{
    margin: 2rem auto;
}

.projects-1 img{
    border-radius: 1rem;
    width: 100%;
}

.projects-2{
    display: flex;
}

.projects-2 a{
    margin: 2rem auto;
}

.projects-2 img{
    border-radius: 1rem;
    width: 100%;
}