*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #292929;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000;
    padding: 1.5rem;
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 2.2rem;
    color: #ff9307;
}

nav a{
    text-decoration: none;
    color: #fff;
}

.nav-button{
    color: black;
    font-size: 1.8rem;
    margin-left: 4rem;
    padding: .3rem;
    border-radius: 1.2rem;
    background-color: #5E2AB8;
}

main{
    margin: auto;
    max-width: 70%;
    padding: .8rem;
    margin-bottom: .8rem;
}

main h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    padding: .8rem;
    color: #fff;
}

main p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    color: #fff;
}

main ul li{
    list-style-type: none;
}

main ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ff9307;
    padding: 10px;
}

main a:hover{
    text-decoration: underline;
}

.box-languages{
    display: flexbox;
    justify-content: space-around;
    text-align: center;
}

.language-buttons{
    margin: .8rem;
    padding: .8rem;
    border-radius: 1.2rem;
    box-shadow: 3px 5px 8px #0000008a;
}

.language-buttons:hover{
    background-color: #5E2AB8;
}

.language-buttons a{
    font-size: 2rem;
    text-decoration: none;
    color: #5E2AB8;
}

.language-buttons a:hover{
    text-decoration: none;
    color: #fff;
}

footer{
    background-color: #000;
    padding: .8rem;
    text-align: center;
}

footer p{
    color: #ff9307;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-variant: small-caps;
}

footer a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff9307;
    font-size: 1.5rem;
}

footer a:hover{
    text-decoration: underline;
}