body{
    background-image: linear-gradient(to bottom, #2D6EED, #2FA8F7, #37CBE1, #2FF7DB, #2DED9C);
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#principal{
    width: 80%;
    margin: 5rem auto;
}

header img{
    display: block;
    margin: auto;
    border-radius: 50%;
}

header p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

nav{
    display: flex;
}

.icons{
    margin: 1rem auto;
}

.fab{
    font-size: 4rem;
    margin-right: 2rem;
    width: 5rem;
    height: 3rem;
}

nav img{
    display: inline-flex;
    width: 3rem;
}

.slider{
    padding: 3rem;
    width: 100%;
    overflow: auto;
    margin: auto;
}

.slideshow{
    white-space: nowrap;
}

.slideshow figure{
    display: inline-block;
}

.prev, .next{
    display: none;
}

main{
    margin: auto;
    width: 70%;
}

main h1{
    font-size: 2.4rem;
    font-variant: small-caps;
    text-align: center;
}